<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>22-adv-java-sep-m</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>controller.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/SignupServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CalcServlet</servlet-name>
		<servlet-class>controller.CalcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalcServlet</servlet-name>
		<url-pattern>/CalcServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>controller.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/RegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PatternServlet</servlet-name>
		<servlet-class>controller.PatternServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PatternServlet</servlet-name>
		<url-pattern>/PatternServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LifeCycleServlet</servlet-name>
		<servlet-class>controller.LifeCycleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LifeCycleServlet</servlet-name>
		<url-pattern>/LifeCycleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListUserServlet</servlet-name>
		<servlet-class>controller.ListUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListUserServlet</servlet-name>
		<url-pattern>/ListUserServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>AddBookFilter</filter-name>
		<filter-class>filter.AddBookFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AddBookFilter</filter-name>
		<url-pattern>/AddBookServlet</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AddBookNumericFilter</filter-name>
		<filter-class>filter.AddBookNumericFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AddBookNumericFilter</filter-name>
		<url-pattern>/AddBookServlet</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>AddSessionServlet</display-name>
		<servlet-name>AddSessionServlet</servlet-name>
		<servlet-class>controller.AddSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSessionServlet</servlet-name>
		<url-pattern>/AddSessionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PrintSessionServlet</display-name>
		<servlet-name>PrintSessionServlet</servlet-name>
		<servlet-class>controller.PrintSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrintSessionServlet</servlet-name>
		<url-pattern>/PrintSessionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>3</session-timeout>
	</session-config>
	<listener>
		<listener-class>listener.LogInitListener</listener-class>
	</listener>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<servlet>
		<description></description>
		<display-name>ElServlet</display-name>
		<servlet-name>ElServlet</servlet-name>
		<servlet-class>controller.ElServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ElServlet</servlet-name>
		<url-pattern>/ElServlet</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>www.royal.com/faculty/tejas</taglib-uri>
			<taglib-location>/WEB-INF/elfunction.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>www.royal.com/stag</taglib-uri>
			<taglib-location>/WEB-INF/stag.tld</taglib-location>
		</taglib>
	</jsp-config>
	<servlet>
		<description></description>
		<display-name>AdminLoginServlet</display-name>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>controller.AdminLoginServlet</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>admin@vicinity.com</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>admin123</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/AdminLoginServlet</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>globalEmail</param-name>
		<param-value>global@gmail.com</param-value>
	</context-param>
	<servlet>
		<description></description>
		<display-name>UserListServlet</display-name>
		<servlet-name>UserListServlet</servlet-name>
		<servlet-class>controller.UserListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserListServlet</servlet-name>
		<url-pattern>/UserListServlet</url-pattern>
	</servlet-mapping>
</web-app>