<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>22-adv-java-sep-m</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>controller.SignupServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/SignupServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>CalcServlet</servlet-name>
		<servlet-class>controller.CalcServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CalcServlet</servlet-name>
		<url-pattern>/CalcServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>controller.RegistrationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/RegistrationServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>PatternServlet</servlet-name>
		<servlet-class>controller.PatternServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PatternServlet</servlet-name>
		<url-pattern>/PatternServlet</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>LifeCycleServlet</servlet-name>
		<servlet-class>controller.LifeCycleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LifeCycleServlet</servlet-name>
		<url-pattern>/LifeCycleServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ListUserServlet</servlet-name>
		<servlet-class>controller.ListUserServlet</servlet-class>
	</servlet>

	<servlet-mapping>

		<servlet-name>ListUserServlet</servlet-name>
		<url-pattern>/ListUserServlet</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>AddBookFilter</filter-name>
		<filter-class>filter.AddBookFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AddBookFilter</filter-name>
		<url-pattern>/AddBookServlet</url-pattern>
	</filter-mapping>



	<filter>
		<filter-name>AddBookNumericFilter</filter-name>
		<filter-class>filter.AddBookNumericFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AddBookNumericFilter</filter-name>
		<url-pattern>/AddBookServlet</url-pattern>
	</filter-mapping>


















</web-app>